ul {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: center;
}

li {
    padding-right: 36px;
    color: #fff;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 1;
    text-align: center;
}
.logo img{
    width: 100px;
}

.header-middle{
    padding: 35px;
}

.header-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.se-btn {
    color: #fff;
    background: linear-gradient(90deg, rgba(205, 58, 255, 0.5) 0%, rgba(30, 204, 214, 0.5) 100%);
    border-radius: 20px;
    padding: 5px 40px;
}